<div class="page-width page-content">
  <header class="section-header section-header--404">
    <h1 class="section-header__title">{{ 'general.404.title' | t }}</h1>
    <div class="rte text-spacing">
      {{ 'general.404.subtext_html' | t: url: routes.root_url }}
    </div>
  </header>
  
  <div class="parent-container">
    <h2>Collections of Glasses</h2>
    <div class="link-container">
      {% for product in collections %}
      {% if product.handle != 'all-products' %}
      <a class="sitemap_link" href="{{ product.url | within: collection }}">{{ product.title }}</a><br>
      {% endif %}
      {% endfor %}
    </div>
</div>
  
</div>
